$fonts: (
    logo:"Shrikhand",
    titre:"Shrikhand",
    textes: "Roboto"
);
$backgrounds: (
    white: #fff,
    lightergrey: rgb(248, 248, 248),
    normallightgrey: rgb(245, 245, 245),
    darkergrey: rgb(230, 230, 230),
    lightblack: rgb(59, 59, 59)
);
$colors: (
    primary:#9356DC,
    secondary:#FF79DA,
    tertiary:#99E2D0,
    inactive-btn: rgb(235, 235, 235),
    darkcolor:rgb(124, 124, 124),
    white: #fff,
    gradient:-webkit-linear-gradient(top, rgba(255, 121, 218, 1) 0%, rgba(147, 86, 220, 1) 100%)
);
$btns: (
    active: (bg: -webkit-linear-gradient(top, rgba(255, 121, 218, 1) 0%, rgba(147, 86, 220, 1) 100%),
        ff: map-get($fonts, textes),
        txt:#fff),
    focus: (bg: map-get($colors, primary),
        ff: map-get($fonts, textes),
        txt:#fff),
    invalid: (bg: map-get($colors, primary),
        ff: map-get($fonts, textes),
        txt:#fff)
);

$shadows: (
    primary-shadow: (size1: 2px,
        size2: 2px,
        size3: 8px,
        shdw: map-get($colors, primary)),
    button-shadow: (size1: 2px,
        size2: 2px,
        size3: 8px,
        shdw: map-get($colors, inactive-btn)),
    nav-shadow: (size1:0,
        size2: 4px,
        size3: 2px,
        shdw: map-get($colors, darkcolor))
);

@mixin btns($state) {
    $palette_btns: map-get($btns, $state);
    background: map-get($palette_btns, bg);
    color: map-get($palette_btns, txt);
    font-family: map-get($palette_btns, ff);
}

@mixin shadows($degree) {
    $shadows: map-get($shadows, $degree);
    box-shadow: map-get($shadows, size1) map-get($shadows, size2) map-get($shadows, size3) darken(map-get($shadows, shdw), 10%);
}

* {
    box-sizing: border-box;
}

body {
    font-family: map-get($fonts, textes);
}

header {
    z-index: 100;
    display: flex;
    justify-content: center;
    padding: 40px;
    @include shadows(nav-shadow);

    img {
        width: 50%;
    }
}

main nav {
    font-family: map-get($fonts, textes);
    font-weight: 700;
    background: map-get($backgrounds, darkergrey);
    display: flex;
    justify-content: center;
    padding: 20px;
}


.presentation {
    display: flex;
    flex-direction: column;
    background: map-get($backgrounds, lightergrey);
    padding: 60px 20px;
    text-align: center;
    font-family: map-get($fonts, textes);
}

.titrePresentation {
    font-family: map-get($fonts, textes);
    font-weight: bolder;
    margin: 0 0 20px 0;
    font-size: 24px;
}

.sloganPresentation {
    font-size: 16px;
    font-weight: 300;
    margin: 0 0 30px 0;
}

.buttonPresentation {
    font-weight: 400;
}

input[type=button] {
    border-radius: 20px;
    border: none;
    padding: 15px 20px;
    @include btns(active);
    @include shadows(primary-shadow);
}

.fonctionnement {
    display: flex;
    flex-direction: column;
    padding: 60px 0;
    background: map-get($backgrounds, white);

    .titreFonctionnement {
        font-size: 24px;
        font-weight: 700;
        padding: 0 20px 0 15px;
        margin-top: 0;
    }
}

.liste-etapes {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    padding: 0 20px 0 25px;
}

.fct-etape {
    background: map-get($backgrounds, normallightgrey);
    padding: 20px;
    border-radius: 20px;
    margin-top: 20px;
    @include shadows(button-shadow);

    div {
        float: left;
        margin-right: -10px;
    }

    &:hover {
        background: lighten(map-get($colors, primary), 35%);

        i {
            color: darken(map-get($colors, primary), 10%);
        }
    }
}

.no-etape {
    background: map-get($colors, primary);
    width: 20px;
    height: 20px;
    border-radius: 10px;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: relative;
    left: -30px;
    font-size: 12px;
}

i {
    margin-right: 15px;
    color: map-get($colors, inactive_btn);

    &:hover {
        color: map-get($colors, primary);
    }
}

.restaurants {
    display: flex;
    flex-direction: column;
    padding: 60px 0;
    background: map-get($backgrounds, lightergrey);

    .titreRestaurants {
        font-size: 24px;
        font-weight: 700;
        margin-top: 0;
        padding: 0 20px 0 15px;
    }
}

.vignettesRestos {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    padding: 0 20px 0 25px;
}

.vignette {
    width: 100%;
    height: 220px;
    border-radius: 20px;
    margin-bottom: 20px;

    &:last-child {
        margin-bottom: 0;
    }

    @include shadows(button-shadow);

    .imgVignette {
        height: 140px;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 20px 20px 0 0;
    }
}

.descVignette {
    display: flex;
    flex-wrap: nowrap;
    padding: 10px;
    height: 80px;
}

.restaurant {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    flex: 1;

    .nomRestaurant {
        font-weight: bolder;
        padding: 3px;
    }

    .lieuRestaurant {
        font-weight: lighter;
        padding: 3px;
    }
}

.heartVignette {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;

    &:hover {
        cursor: pointer;
    }
}

.infosRestaurant {
    width: 100%;
    background: map-get($backgrounds, normallightgrey);

    img {
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
}

.menuRestaurant {
    padding: 20px 15px;
    border-radius: 40px 40px 0 0;
    position: relative;
    top: -60px;
    background: map-get($backgrounds, normallightgrey);

    .nomRestaurant {
        font-family: map-get($fonts, titre);
        display: flex;
        flex: 1;
        font-size: 24px;
    }
}

.menus {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 40px;
}

.liste_menus {
    background: #fff;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    @include shadows(button-shadow);

    .nomPlat {
        flex: 1;
        padding: 5px 0;
        font-weight: bolder;
    }

    .desc_prix_plat {
        display: flex;

        .descPlat {
            flex:1;
            margin-right: 20px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

.blocNom-Coeur {
    display: flex;
}

.buttonCommand {
    display: flex;
    justify-content: center;

    input[type=button] {
        border-radius: 20px;
        border: none;
        padding: 15px 60px;
        @include btns(active);
        @include shadows(primary-shadow);
    }
}

footer {
    display: flex;
    flex-direction: column;
    background: map-get($backgrounds, lightblack);
    color: map-get($colors, white);
    padding: 30px;

    p {
        padding: 0;
        margin-top: 0;
    }

    div {
        padding: 5px 0;
    }

    .fa-solid {
        width: 20px;
        margin-right: 10px;
    }
}

.titreFooter {
    font-family: map-get($fonts, titre);
    color: map-get($colors, white);
    font-style: italic;
    font-size: 20px;
}