@keyframes spinner {
  from {
    opacity: 0.95;
  }
  98% {
    opacity: 0.95;
  }
  99% {
    opacity: 0;
    height: 100vh;
    width: 100vw;
  }
  to {
    opacity: 0;
    height: 0;
    width: 0;
  }
}
@keyframes showMenus {
  0% {
    opacity: 0;
    transform: translateY(30%);
  }
  30% {
    opacity: 0;
  }
  80% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
}

a {
  color: black;
  text-decoration: none;
}

h4 {
  font-weight: bolder;
}

.btnBack,
.btnNext {
  display: flex;
  justify-content: center;
  width: 40px;
  height: 100%;
  align-items: center;
  font-size: 24px;
  transition: transform 400ms ease-in-out;
}
@media screen and (min-width: 512px) {
  .btnBack,
.btnNext {
    font-size: 5.5vw;
  }
}
@media screen and (min-width: 768px) {
  .btnBack,
.btnNext {
    font-size: 4vw;
  }
}
@media screen and (min-width: 1024px) {
  .btnBack,
.btnNext {
    font-size: 4vh;
  }
}
.btnBack i,
.btnNext i {
  color: black;
  transition: background-image 500ms;
}
.btnBack:hover,
.btnNext:hover {
  transform: rotate(1turn);
}
.btnBack:hover i,
.btnNext:hover i {
  cursor: pointer;
  background: -webkit-linear-gradient(top, rgb(255, 121, 218) 0%, rgb(147, 86, 220) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 900;
  transition: all 1500ms;
}

.buttonPresentation {
  font-weight: 400;
}

.buttonCommand {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 1024px) {
  .buttonCommand {
    margin-top: 60px;
  }
}
.buttonCommand input[type=button] {
  border-radius: 20px;
  border: none;
  padding: 15px 60px;
  background: -webkit-linear-gradient(top, rgb(255, 121, 218) 0%, rgb(147, 86, 220) 100%);
  color: #fff;
  font-family: "Roboto";
  box-shadow: 2px 2px 8px #481a7f;
  opacity: 0.7;
  transform: scale(0.98);
  transition: all 400ms;
}
.buttonCommand input[type=button]:hover {
  opacity: 1;
  transform: scale(1);
  cursor: pointer;
}

input[type=button] {
  border-radius: 20px;
  border: none;
  padding: 15px 20px;
  background: -webkit-linear-gradient(top, rgb(255, 121, 218) 0%, rgb(147, 86, 220) 100%);
  color: #fff;
  font-family: "Roboto";
  box-shadow: 2px 2px 8px #481a7f;
  opacity: 0.7;
  transform: scale(0.98);
  transition: all 400ms;
}
input[type=button]:hover {
  opacity: 1;
  transform: scale(1);
  cursor: pointer;
}

.logo {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.menuRestaurant {
  padding: 20px 15px;
  border-radius: 40px 40px 0 0;
  position: relative;
  top: -60px;
  background: rgb(245, 245, 245);
}
.menuRestaurant .nomRestaurant {
  font-family: "Shrikhand";
  display: flex;
  flex: 1;
  font-size: 24px;
}
@media screen and (min-width: 1024px) {
  .menuRestaurant .nomRestaurant {
    font-size: 5vh;
  }
}

.bgRestaurant {
  height: 240px;
}
@media screen and (min-width: 1024px) {
  .bgRestaurant {
    height: 360px;
  }
}
.bgRestaurant img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.listePlats {
  padding: 0;
  margin: 0;
}
@media screen and (min-width: 1024px) {
  .listePlats {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
  }
  .listePlats .entrees {
    width: 30%;
    background-color: rgb(245, 245, 245);
    padding: 20px 0;
    border-radius: 10px;
    animation: showMenus 1200ms ease-in-out both;
  }
  .listePlats .plats {
    width: 30%;
    background-color: rgb(245, 245, 245);
    padding: 20px 0;
    border-radius: 10px;
    animation: showMenus 1200ms 400ms ease-in-out both;
  }
  .listePlats .desserts {
    width: 30%;
    background-color: rgb(245, 245, 245);
    padding: 20px 0;
    border-radius: 10px;
    animation: showMenus 1200ms 800ms ease-in-out both;
  }
}

.listeMenus {
  background: #fff;
  border-radius: 10px;
  padding: 0;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  margin-top: 20px;
  animation: showMenus 1200ms ease-in-out both;
  box-shadow: 2px 2px 8px #9f9f9f;
}
.listeMenus--option1 {
  animation-delay: 200ms;
}
.listeMenus--option2 {
  animation-delay: 400ms;
}
.listeMenus--option3 {
  animation-delay: 600ms;
}
.listeMenus--option4 {
  animation-delay: 800ms;
}
.listeMenus--option5 {
  animation-delay: 1000ms;
}
.listeMenus--option6 {
  animation-delay: 1200ms;
}
.listeMenus--option7 {
  animation-delay: 1400ms;
}
.listeMenus--option8 {
  animation-delay: 1600ms;
}
.listeMenus--option9 {
  animation-delay: 1800ms;
}
.listeMenus--option10 {
  animation-delay: 2000ms;
}
@media screen and (min-width: 1024px) {
  .listeMenus {
    text-align: left;
    font-size: 2vh;
  }
}
.listeMenus .blocChoixMenu {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 100%;
  flex: 1;
  padding: 10px;
  transition-timing-function: ease-in-out;
  transition: all 800ms;
}
.listeMenus .blocChoixMenu .nomPlat {
  flex: 1;
  padding: 5px 0;
  font-weight: bolder;
}
.listeMenus .blocChoixMenu .nomPlat h4 {
  font-weight: bolder;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.listeMenus .blocChoixMenu .descPrixPlat {
  display: flex;
}
.listeMenus .blocChoixMenu .descPrixPlat .descPlat {
  flex: 1;
  margin-right: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (min-width: 1024px) {
  .listeMenus .blocChoixMenu .descPrixPlat .descPlat {
    font-size: 1.75vh;
  }
}
.listeMenus .blocChoixMenu .descPrixPlat .prixPlat {
  font-weight: bolder;
}
.listeMenus .blocChoixMenuSelection {
  width: 20%;
  background-color: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  right: 0%;
  font-size: 20px;
  color: #fff;
  transform-origin: right;
  transform: translateX(100%);
  transition-timing-function: ease-in-out;
  transition: all 800ms;
  border-radius: 0 10px 10px 0;
}
@media screen and (min-width: 1024px) {
  .listeMenus .blocChoixMenuSelection {
    font-size: 2vh;
  }
}
.listeMenus .blocChoixMenuSelection i {
  padding: 0;
  opacity: 1;
  transform: rotate(-270deg);
  transition-delay: 200ms;
  transition-duration: 600ms;
  margin: 0;
}
.listeMenus:hover {
  cursor: pointer;
  box-shadow: 2px 2px 4px #1b6150;
}
.listeMenus:hover .blocChoixMenu {
  width: 80%;
  min-width: 80%;
}
@media screen and (min-width: 512px) {
  .listeMenus:hover .blocChoixMenu {
    width: 85%;
    min-width: 85%;
  }
}
@media screen and (min-width: 768px) {
  .listeMenus:hover .blocChoixMenu {
    width: 90%;
    min-width: 90%;
  }
}
@media screen and (min-width: 1024px) {
  .listeMenus:hover .blocChoixMenu {
    width: 80%;
    min-width: 80%;
  }
}
.listeMenus:hover .blocChoixMenuSelection {
  transform: translateX(0);
}
.listeMenus:hover .blocChoixMenuSelection i {
  padding: 0;
  margin: 0;
  opacity: 1;
  transform: rotate(0deg);
}
.listeMenus:hover .blocChoixMenuSelection:hover {
  color: #fff;
}

.menus {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 40px;
}
.menus h4 {
  font-weight: normal;
}
@media screen and (min-width: 1024px) {
  .menus {
    margin: 0;
    font-size: 2vh;
    text-align: center;
  }
}

.separator {
  height: 3px;
  width: 40px;
  margin-top: 5px;
  background: #99E2D0;
}
@media screen and (min-width: 1024px) {
  .separator {
    margin: 0 auto;
  }
}

.vignette {
  width: 100%;
  height: 220px;
  border-radius: 20px;
  margin-bottom: 30px;
  opacity: 0.8;
  z-index: 1;
  transform: scale(0.98);
  transition: all 400ms;
  box-shadow: 2px 2px 8px #9f9f9f;
}
@media screen and (min-width: 768px) {
  .vignette {
    width: 45%;
    height: 300px;
    margin-bottom: 60px;
  }
}
.vignette:last-child {
  margin-bottom: 0;
}
.vignette .imgVignette {
  height: 140px;
}
@media screen and (min-width: 768px) {
  .vignette .imgVignette {
    height: 200px;
  }
}
.vignette img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 20px 20px 0 0;
}
.vignette .nouveau {
  width: 25%;
  padding: 10px 0;
  border-radius: 5px;
  text-align: center;
  position: relative;
  top: -90%;
  left: 70%;
  background-color: #99E2D0;
  color: #278870;
  font-weight: bolder;
  box-shadow: 0 4px 2px #303030;
}
@media screen and (min-width: 768px) {
  .vignette .nouveau {
    width: 25%;
    float: none;
    left: 70%;
  }
}
.vignette:hover {
  transform: scale(1);
  opacity: 1;
  cursor: pointer;
}
.vignette:hover::after {
  opacity: 1;
}
.vignette::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #e4d5f6;
  opacity: 0;
  border-radius: 20px;
  z-index: -1;
  transform: scale(1);
  box-shadow: 2px 2px 8px #481a7f;
  transition: opacity 400ms;
}

.descVignette {
  display: flex;
  flex-wrap: nowrap;
  padding: 10px;
  height: 80px;
}
@media screen and (min-width: 768px) {
  .descVignette {
    height: 100px;
  }
}

.restaurant {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 18px;
  flex: 1;
}
.restaurant .nomRestaurant {
  font-weight: bolder;
  padding: 3px;
}
.restaurant .lieuRestaurant {
  font-weight: lighter;
  padding: 3px;
}

.vignettesRestos {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  padding: 0 20px;
}
@media screen and (min-width: 768px) {
  .vignettesRestos {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 1280px;
    margin: 30px auto 0 auto;
  }
}

.heartVignette {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
@media screen and (min-width: 768px) {
  .heartVignette {
    font-size: 3vh;
  }
}
.heartVignette i {
  margin-right: 15px;
  font-weight: normal;
  color: black;
  transition: background-image 100ms 900ms;
}
.heartVignette:hover i {
  cursor: pointer;
  background: -webkit-linear-gradient(top, rgb(255, 121, 218) 0%, rgb(147, 86, 220) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 900;
  transition: all 1000ms;
}

.blocNomCoeur {
  display: flex;
}
@media screen and (min-width: 1024px) {
  .blocNomCoeur {
    max-width: 1280px;
    padding: 0 20px;
    margin: 0 auto;
  }
}
.blocNomCoeur i {
  font-weight: normal;
  color: black;
  transition: background-image 100ms 900ms;
}
.blocNomCoeur i:hover {
  cursor: pointer;
  background: -webkit-linear-gradient(top, rgb(255, 121, 218) 0%, rgb(147, 86, 220) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 900;
  transition: all 1000ms;
}

.listeEtapes {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  padding: 0 20px 0 25px;
}
@media screen and (min-width: 1024px) {
  .listeEtapes {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
  }
}
.listeEtapes h4 {
  font-weight: normal;
}

.fctEtape {
  background: rgb(245, 245, 245);
  padding: 20px;
  border-radius: 20px;
  margin-top: 20px;
  box-shadow: 2px 2px 8px #9f9f9f;
}
@media screen and (min-width: 1024px) {
  .fctEtape {
    padding: 20px 40px;
  }
}
.fctEtape div {
  float: left;
  margin-right: -10px;
}
.fctEtape:hover {
  background: #f2eafb;
}
.fctEtape:hover i {
  color: #782cd3;
}

.noEtape {
  background: #9356DC;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: relative;
  left: -30px;
  font-size: 12px;
}
@media screen and (min-width: 1024px) {
  .noEtape {
    margin-left: -10px;
    left: 50%;
    margin-top: -10px;
    top: -100%;
  }
}

header {
  z-index: 100;
  display: flex;
  justify-content: center;
  padding: 20px;
  box-shadow: 0 4px 2px #303030;
}
header img {
  width: 80%;
  max-width: 400px;
}

.mainContainer {
  width: 100%;
}

.mainContainer nav {
  font-family: "Roboto";
  font-weight: 700;
  background: rgb(230, 230, 230);
  display: flex;
  justify-content: center;
  padding: 20px;
  font-size: 18px;
}
.mainContainer nav i {
  margin-right: 15px;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  padding: 60px 0;
  background: #fff;
}
@media screen and (min-width: 1024px) {
  .fonctionnement {
    max-width: 1280px;
    margin: 0 auto;
  }
}
.fonctionnement .titreFonctionnement {
  font-size: 24px;
  font-weight: 700;
  padding: 0 20px 0 15px;
  margin-top: 0;
}
.fonctionnement i {
  margin-right: 15px;
}

.infosRestaurant {
  width: 100%;
  background: rgb(245, 245, 245);
}
.infosRestaurant img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.restaurants {
  display: flex;
  flex-direction: column;
  padding: 60px 0;
  background: rgb(248, 248, 248);
}
.restaurants .titreRestaurants {
  font-size: 24px;
  font-weight: 700;
  padding: 0 20px 0 15px;
}
@media screen and (min-width: 1024px) {
  .restaurants .titreRestaurants {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
  }
}

footer {
  display: flex;
  flex-direction: column;
  background: rgb(59, 59, 59);
  color: #fff;
  padding: 30px;
}
@media screen and (min-width: 1024px) {
  footer nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: auto;
  }
}
footer p {
  padding: 0;
  margin-top: 0;
  margin-bottom: 20px;
}
@media screen and (min-width: 1024px) {
  footer p {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto 20px auto;
  }
}
footer div {
  padding: 5px 0;
  opacity: 0.4;
}
footer div:hover {
  opacity: 1;
  cursor: pointer;
}
footer a {
  color: #fff;
}
footer .fa-solid {
  width: 20px;
  margin-right: 10px;
}

.titreFooter {
  font-family: "Shrikhand";
  color: #fff;
  font-style: italic;
  font-size: 20px;
}

.presentation {
  display: flex;
  flex-direction: column;
  background: rgb(248, 248, 248);
  padding: 60px 20px;
  text-align: center;
  font-family: "Roboto";
}

.titrePresentation {
  font-family: "Roboto";
  font-weight: bolder;
  margin: 0 0 20px 0;
  font-size: 24px;
}

.sloganPresentation {
  font-size: 16px;
  font-weight: 300;
  margin: 0 0 30px 0;
}

.spinner {
  background: white;
  opacity: 0.95;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: spinner;
  animation-duration: 2000ms;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

/*# sourceMappingURL=style.css.map */
