.btnBack,
.btnNext {
    display: flex;
    justify-content: center;
    width: 40px;
    height: 100%;
    align-items: center;
    font-size: 24px;

    @include media-desktop {
        font-size: 3.5vh;
    }
}

.buttonPresentation {
    font-weight: 400;
}

.buttonCommand {
    display: flex;
    justify-content: center;

    @include media-desktop {
        margin-top: 60px;
    }

    input[type=button] {
        border-radius: 20px;
        border: none;
        padding: 15px 60px;
        @include btns(active);
        @include shadows(primary-shadow);
        opacity:0.7;
        transform: scale(0.98);
        transition: all 400ms;

        &:hover {
            opacity:1;
            transform: scale(1);
            cursor: pointer;
        }
    }
}

input[type=button] {
    border-radius: 20px;
    border: none;
    padding: 15px 20px;
    @include btns(active);
    @include shadows(primary-shadow);
}