.menuRestaurant {
    padding: 20px 15px;
    border-radius: 40px 40px 0 0;
    position: relative;
    top: -60px;
    background: map-get($backgrounds, normallightgrey);

    .nomRestaurant {
        font-family: map-get($fonts, titre);
        display: flex;
        flex: 1;
        font-size: 24px;

        @include media-desktop {
            font-size: 5vh;
        }
    }
}

.bgRestaurant {
    height: 240px;

    @include media-desktop {
        height: 360px;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

.listePlats {
    padding: 0;
    margin: 0;

    @include media-desktop {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        max-width: 1280px;
        margin: 0 auto;
        padding: 0 20px;

        .entrees,
        .plats,
        .desserts {
            width: 30%;
            background-color: map-get($backgrounds, normallightgrey);
            padding: 20px 0;
            border-radius: 10px;
        }
    }
}

.listeMenus {
    background: #fff;
    border-radius: 10px;
    padding: 0;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    margin-top: 20px;
    @include shadows(button-shadow);

    @include media-desktop {
        text-align: left;
        font-size: 2vh;
    }

    .blocChoixMenu {
        display: flex;
        flex-direction: column;
        width: 100%;
        min-width: 100%;
        flex: 1;
        padding: 10px;

        transition-timing-function: ease-in-out;
        transition: all 800ms;

        .nomPlat {
            flex: 1;
            padding: 5px 0;
            font-weight: bolder;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .descPrixPlat {
            display: flex;

            .descPlat {
                flex: 1;
                margin-right: 20px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                @include media-desktop {
                    font-size:1.75vh;
                }
            }

            .prixPlat {
                font-weight: bolder;
            }
        }
    }

    .blocChoixMenuSelection {
        width: 20%;
        background-color: map-get($colors, tertiary);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: relative;
        right: 0%;
        font-size:20px;
        color: map-get($colors, white);
        transform-origin: right;
        transform: translateX(100%);
        transition-timing-function: ease-in-out;
        transition: all 800ms;
        border-radius: 0 10px 10px 0;
        @include media-desktop {
            font-size: 2vh;
        }

        i {
            padding: 0;
            opacity: 1;
            transform: rotate(-270deg);
            transition-delay: 200ms;
            transition-duration: 600ms;
            margin: 0;
        }
    }

    .nomPlat {
        flex: 1;
        padding: 5px 0;
        font-weight: bolder;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .descPrixPlat {
        display: flex;

        .descPlat {
            flex: 1;
            margin-right: 20px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .prixPlat {
            font-weight: bolder;
        }
    }

    &:hover {
        cursor: pointer;

        .blocChoixMenu {
            width: 80%;
            min-width: 80%;

            @include media-sm-tablet {
                width: 85%;
                min-width: 85%;
            }
            @include media-tablet {
                width:90%;
                min-width:90%;
            }
            @include media-desktop {
                width:80%;
                min-width:80%;
            }
        }

        .blocChoixMenuSelection {
            transform: translateX(0);

            i {
                padding: 0;
                margin: 0;
                opacity:1;
                transform: rotate(0deg);
            }
        }
    }
}



.menus {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 40px;

    @include media-desktop {
        margin: 0;
        font-size: 2vh;
        text-align: center;
    }
}

.blocNomCoeur {
    display: flex;

    @include media-desktop {
        max-width: 1280px;
        padding: 0 20px;
        margin: 0 auto;
    }

    i {
        transition: all 400ms;
    }

    i:hover {
        cursor: pointer;
        font-weight: 900;
        color: darken(map-get($colors, tertiary), 15%);
    }
}

.separator {
    height: 3px;
    width: 40px;
    margin-top: 5px;
    background: map-get($colors, tertiary);

    @include media-desktop {
        margin: 0 auto;
    }
}