.vignette {
    width: 100%;
    height: 220px;
    border-radius: 20px;
    margin-bottom: 30px;
    opacity: 0.8;
    z-index:1;
    transform: scale(0.98);
    transition: all 400ms;

    @include media-desktop {
        width: 45%;
        height: 300px;
        margin-bottom: 60px;
    }

    &:last-child {
        margin-bottom: 0;
    }

    @include shadows(button-shadow);

    .imgVignette {
        height: 140px;

        @include media-desktop {
            height: 200px;
        }
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 20px 20px 0 0;
    }

    .nouveau {
        width: 25%;
        padding: 10px 0;
        border-radius: 5px;
        text-align: center;
        position: relative;
        top: -90%;
        left: 70%;
        background-color: map-get($colors, tertiary);
        color: darken(map-get($colors, tertiary), 40%);
        font-weight: bolder;
        @include shadows(nav-shadow);

        @include media-desktop {
            width: 25%;
            float: none;
            left: 70%;
        }
    }

    &:hover {
        transform: scale(1);
        cursor: pointer;
        &::after {
            opacity: 1;
        }

    }

    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: lighten(map-get($colors, primary), 30%);
        opacity: 0;
        border-radius: 20px;
        z-index: -1;
        transform: scale(1);
        @include shadows(primary-shadow);

        transition: opacity 400ms;
    }
}

.descVignette {
    display: flex;
    flex-wrap: nowrap;
    padding: 10px;
    height: 80px;

    @include media-desktop {
        height: 100px;
    }
}

.restaurant {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
    flex: 1;

    .nomRestaurant {
        font-weight: bolder;
        padding: 3px;
    }

    .lieuRestaurant {
        font-weight: lighter;
        padding: 3px;
    }
}

.vignettesRestos {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding: 0 20px;

    @include media-desktop {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        max-width: 1280px;
        margin: 30px auto 0 auto;
    }
}

.heartVignette {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;

    @include media-desktop {
        font-size: 3vh;
    }

    i {
        color: map-get($colors, gradient);
        transition: all 1500ms;
    }

    &:hover {
        transition: all 1500ms;
        color: map-get($colors, gradient);
        i {
            cursor: pointer;
            font-weight: 900;
            color: map-get($colors, gradient);
        }
    }
}