.spinner {
    background: white;
    opacity: 0.95;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: spinner;
    animation-duration: 2000ms;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}