@keyframes spinner {
    from {
        opacity: 0.95;
    }

    98% {
        opacity: 0.95;
    }

    99% {
        opacity: 0;
        height:100vh;
        width:100vw;
    }

    to {
        opacity: 0;
        height: 0;
        width: 0;
    }
}

@keyframes showMenus {
    0% {
        opacity: 0;
        transform: translateY(30%);
    }
    30% {
        opacity: 0;
    }    
    80% {
        opacity: 0.5;
    }
    100% {
        opacity:1;
        transform: translateY(0%);
    }
}