.fonctionnement {
    display: flex;
    flex-direction: column;
    padding: 60px 0;
    background: map-get($backgrounds, white);

    @include media-desktop {
        max-width: 1280px;
        margin: 0 auto;
    }

    .titreFonctionnement {
        font-size: 24px;
        font-weight: 700;
        padding: 0 20px 0 15px;
        margin-top: 0;
    }

    i {
        margin-right: 15px;
    }
}

