.restaurants {
    display: flex;
    flex-direction: column;
    padding: 60px 0;
    background: map-get($backgrounds, lightergrey);

    .titreRestaurants {
        font-size: 24px;
        font-weight: 700;
        margin-top: 0;
        padding: 0 20px 0 15px;

        @include media-desktop {
            width: 100%;
            max-width: 1200px;
            margin: 0 auto;
        }
    }
}